<h1>New drone</h1>

<form action="/new-drone" method="POST">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" value="" required><br>
  <label for="propellers">Propellers:</label><br>
  <input type="text" id="propellers" name="propellers" value="" required><br>
  <label for="maxSpeed">Max speed:</label><br>
  <input type="text" id="maxSpeed" name="maxSpeed" value="" required><br><br>
  <input type="submit" value="Crear">
</form>