<form action="/" method="post">
  <label for="fname">Name:</label><br>
  <input type="text" id="" name="name" value=""><br>
  <label for="lname">Propellers:</label><br>
  <input type="text" id="lname" name="propeller" value=""><br><br>
  <label for="lname">Max speed:</label><br>
  <input type="text" id="lname" name="maxSpeed" value=""><br><br>
  <input type="submit" value="Submit">
</form>